h1, p, h2 {
    text-align: center;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20;
}

.menu {
    width:80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -25px;
}

.flavor , .dessert {
    text-align: left;
    width:75%;
}

.price {
    text-align: right;
    width:25%;
}

h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.established {
    font-style: italic;
}

h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.item p {
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
    font-size: 18px;
}

.bottom-line {
    margin-top: 25px;
}

/*footer*/

footer {
    font-size: 14px;
}

address {
    font-style: normal;

}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

.address {
    margin-bottom: 5px;
}